<a href="#top" id="back-to-top">Back to top</a>
<!-- Start Alter-->
<!-- Dropdown menu for Language selection -->
<nav aria-label="Main" id="site-nav" class="site-nav">
  <ul class="nav-list">
    <li class="nav-list-item">
      <a href="#" class="nav-list-expander" aria-label="Select Language">
        <svg viewBox="0 0 24 24">
          <use xlink:href="#svg-arrow-right"></use>
        </svg>
      </a>
      <div class="nav-list-link">Language</div>
      <ul class="nav-list" id="dropdown-content"></ul>
    </li>
  </ul>
</nav>
<!-- End alter -->
<!-- THIS IS NOT WORKING! -->
